* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    text-align: center;
}

header {
    min-height: 100vh;

    color: #926239;

    background-color: white;
    background-image: url("./../images/ракушка.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero {
    height: 12vh;
    display: inline-block;
    margin-top: calc(50vh - 12vh);
}

.hero * {
    margin-top: 1.25%;
}

.hero > h1 {
    margin: 0;
}

a {
    display: inline-block;
    padding: 1.25% 2%;
    background-color: transparent;

    border-radius: 8px;
    border: 1px solid #926239;

    color: #926239;
    text-decoration: none;

    cursor: pointer;
}

a:hover {
    color: white;
    background-color: #926239;
}

.light-paragraph {
    background-color: white;
    color: #926239;
    font-size: 14px;
    padding: 1%;
    line-height: 1.5;
}

.dark-paragraph {
    background-color: #926239;
    color: white;
    font-size: 14px;
    padding: 1%;
    line-height: 1.5;
}

footer {
    font-size: 0;
}

footer p {
    display: inline-block;
    text-align: start;
    width: calc(100% / 3);
    font-size: 16px;
}