* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

header {
    min-height: 100vh;

    text-align: center;
    color: #926239;

    background-color: white;
    background-image: url("./../images/ракушка.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero {
    /* height: fit-content; */
    height: 12vh;
    display: inline-block;
    margin-top: calc(50vh - 12vh);
}

.hero * {
    margin-top: 1.25%;
}

.hero > h1 {
    margin: 0;
}

a {
    display: inline-block;
    padding: 1.25% 2%;
    background-color: transparent;

    border-radius: 8px;
    border: 1px solid #926239;

    color: #926239;
    text-decoration: none;

    cursor: pointer;
}

a:hover {
    color: white;
    background-color: #926239;
}